// env(safe-area-inset-top) 在不同终端有差异改用JS解决
// env(safe-area-inset-bottom)


page
  --testColor: red

.q-page
  background: $grey-4
  transition: all 0.15s ease-out
  box-sizing: border-box
  &.pushing .q-header,
  &-pushed .q-header
    top: 0 !important
  &-loading-bar
    position: fixed !important
    top: var(--head-height)
    left: 0
    right: 0
    z-index: $z-marginals

q-page, .q-page
  min-height: var(--page-height)
  
.q-header, .q-footer, .q-page, .q-page-container
  position: relative

.q-page-container
  /*flex: 10000 1 0%*/
  min-height: var(--container-height)
  max-width: 100%


.has-head::before,.has-foot::after
  display: block
  content: ''
  width: 100%

.has-head
  &::before
    height: var(--header-space)
  .q-page-loading-bar
    top: var(--head-height)

.has-foot
  &::after
    height: var(--footer-space)

scroll-view.q-page-container
  height: var(--container-height)

q-footer,
.q-header, .q-footer
  z-index: $z-marginals
  background-color: $grey-1

.q-header
  padding-left: 5px
  padding-right: 5px
  &--hidden
    transform: translateY(-110%)
  &--bordered
    border-bottom: $layout-border
  .q-layout__shadow
    bottom: -10px
    &:after
      bottom: 10px

q-footer,.q-footer
  position: fixed
  left: 0
  right: 0
  top: calc(100vh - var(--foot-height) - var(--bottom-space))
  height: var(--footer-space)
  //bottom: 0
  q-tabs,.q-tabs
    flex: 10000 1 0%
  &--hidden
    transform: translateY(110%)
  &--bordered
    border-top: $layout-border
  .q-layout__shadow
    top: -10px
    &:after
      top: 10px
    
.q-layout__shadow
  width: 100%
  &:after
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    box-shadow: $layout-shadow

