
.q-spinner
  vertical-align: middle
  width: 1em
  height: 1em

.q-spinner-mat
  position: relative
  .path
    transform-origin: center center
    animation: q-spin 2s linear infinite
    position: absolute
    left: 0
    top: 0
    bottom: 0
    right: 0
    border: currentColor dotted
    border-radius: 100%
    

@keyframes q-spin
  0%
    transform: rotate3d(0, 0, 1, 0deg) #{"/* rtl:ignore */"}
  25%
    transform: rotate3d(0, 0, 1, 90deg) #{"/* rtl:ignore */"}
  50%
    transform: rotate3d(0, 0, 1, 180deg) #{"/* rtl:ignore */"}
  75%
    transform: rotate3d(0, 0, 1, 270deg) #{"/* rtl:ignore */"}
  100%
    transform: rotate3d(0, 0, 1, 359deg) #{"/* rtl:ignore */"}
